asgiref
astroid
autopep8
batlang
beautifulsoup4
certifi
charset-normalizer
colorama
comtypes
crispy-bootstrap5
dill
distlib
dj-database-url
Django
django-bootstrap-v5
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
et-xmlfile
filelock
idna
isort
Markdown
mccabe
MouseInfo
numpy
opencv-contrib-python
opencv-python
openpyxl
pandas
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAudio
PyAutoGUI
pycodestyle
PyGetWindow
Pygments
pylint
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
python-dotenv
pyttsx3
pytweening
pytz
pywin32
requests
setuptools
six
soupsieve
sqlparse
tomlkit
typing_extensions
tzdata
urllib3
virtualenv